In [1]:
from datetime import datetime

In [2]:
now = datetime.now()

In [3]:
now

datetime.datetime(2019, 5, 26, 10, 53, 32, 557192)

In [4]:
now.year,now.month,now.day

(2019, 5, 26)

In [5]:
delta = datetime(2011,1,7)-datetime(2008,6,24,8,15)

In [6]:
delta

datetime.timedelta(926, 56700)

In [7]:
delta.days

926

In [8]:
delta.seconds

56700

In [9]:
from datetime import timedelta
start = datetime(2011, 1, 7)
start + timedelta(12)

datetime.datetime(2011, 1, 19, 0, 0)

In [10]:
start - 2 * timedelta(12)

datetime.datetime(2010, 12, 14, 0, 0)

In [11]:
stamp = datetime(2011, 1, 3)

In [12]:
str(stamp)

'2011-01-03 00:00:00'

In [13]:
stamp.strftime('%Y-%m-%d')

'2011-01-03'

In [15]:
value = '2011-01-03'

In [17]:
datetime.strptime(value,'%Y-%m-%d')

datetime.datetime(2011, 1, 3, 0, 0)

In [18]:
datestrs = ['7/6/2011','8/6/2011']

In [19]:
[datetime.strptime(x, '%m/%d/%Y') for x in datestrs]

[datetime.datetime(2011, 7, 6, 0, 0), datetime.datetime(2011, 8, 6, 0, 0)]

In [20]:
from dateutil.parser import parse
parse('2011-01-03')

datetime.datetime(2011, 1, 3, 0, 0)

In [21]:
parse('Jan 31, 1997 10:45 PM')

datetime.datetime(1997, 1, 31, 22, 45)

In [22]:
parse('6/12/2011', dayfirst=True)

datetime.datetime(2011, 12, 6, 0, 0)

In [24]:
datestrs = ['2011-07-06 12:00:00', '2011-08-06 00:00:00']

In [26]:
import pandas as pd
pd.to_datetime(datestrs)

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00'], dtype='datetime64[ns]', freq=None)

In [27]:
idx = pd.to_datetime(datestrs+[None])

In [31]:
idx

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00', 'NaT'], dtype='datetime64[ns]', freq=None)

In [29]:
idx[2]

NaT

In [30]:
pd.isnull(idx)

array([False, False,  True])

In [32]:
from datetime import datetime

In [33]:
dates = [datetime(2011, 1, 2), datetime(2011, 1, 5),
        datetime(2011, 1, 7), datetime(2011, 1, 8),
        datetime(2011, 1, 10), datetime(2011, 1, 12)]

In [35]:
import numpy as np
ts = pd.Series(np.random.randn(6),index=dates)

In [36]:
ts.index

DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

In [41]:
ts + ts[::2]

2011-01-02    2.280650
2011-01-05         NaN
2011-01-07   -2.627808
2011-01-08         NaN
2011-01-10   -1.569951
2011-01-12         NaN
dtype: float64

In [42]:
ts.index.dtype

dtype('<M8[ns]')

In [43]:
stamp = ts.index[0]

In [44]:
stamp

Timestamp('2011-01-02 00:00:00')

In [45]:
stamp = ts.index[2]

In [46]:
ts[stamp]

-1.3139039721746728

In [47]:
ts['1/10/2011']

-0.7849756635463516

In [48]:
ts['20110110']

-0.7849756635463516

In [49]:
longer_ts = pd.Series(np.random.randn(1000),
                      index=pd.date_range('1/1/2000', periods=1000))

In [50]:
longer_ts

2000-01-01   -0.003725
2000-01-02    1.080480
2000-01-03    0.207030
2000-01-04    0.962111
2000-01-05    1.743945
2000-01-06   -1.115191
2000-01-07    0.670309
2000-01-08    1.082157
2000-01-09    0.172203
2000-01-10   -1.495367
2000-01-11   -1.243889
2000-01-12    1.102232
2000-01-13   -0.477722
2000-01-14   -1.150553
2000-01-15   -1.278187
2000-01-16    0.435164
2000-01-17   -0.355409
2000-01-18   -0.189099
2000-01-19    1.058662
2000-01-20    0.452163
2000-01-21   -1.396098
2000-01-22    0.341538
2000-01-23    0.906148
2000-01-24   -0.009581
2000-01-25   -1.490250
2000-01-26   -2.027779
2000-01-27    0.976159
2000-01-28   -1.344533
2000-01-29    1.785048
2000-01-30   -0.214508
                ...
2002-08-28   -0.657794
2002-08-29    0.902827
2002-08-30    0.226349
2002-08-31    0.714122
2002-09-01   -0.492313
2002-09-02    0.227971
2002-09-03    0.881631
2002-09-04    0.649812
2002-09-05   -0.828117
2002-09-06   -0.745724
2002-09-07    2.985537
2002-09-08    0.581066
2002-09-09   -1.545052
2002-09-10    1.956222
2002-09-11   -0.260496
2002-09-12    1.681798
2002-09-13    0.065762
2002-09-14   -0.062555
2002-09-15    2.170272
2002-09-16   -0.826596
2002-09-17   -0.593769
2002-09-18    0.724749
2002-09-19   -0.264019
2002-09-20    0.079883
2002-09-21    0.340762
2002-09-22    0.338308
2002-09-23   -0.237199
2002-09-24   -0.295732
2002-09-25   -0.791628
2002-09-26    0.360578
Freq: D, Length: 1000, dtype: float64

In [51]:
longer_ts['2001']

2001-01-01    0.965794
2001-01-02    0.172464
2001-01-03   -1.397940
2001-01-04   -0.747259
2001-01-05    0.641128
2001-01-06   -0.333902
2001-01-07   -0.340128
2001-01-08    0.261945
2001-01-09    1.596292
2001-01-10    1.516508
2001-01-11   -0.728812
2001-01-12    0.232357
2001-01-13    0.855319
2001-01-14   -0.251137
2001-01-15    0.846454
2001-01-16   -1.303487
2001-01-17   -0.466019
2001-01-18    0.933824
2001-01-19    0.233220
2001-01-20   -0.718662
2001-01-21   -0.815090
2001-01-22    1.144949
2001-01-23   -1.693512
2001-01-24    0.269939
2001-01-25   -0.682020
2001-01-26    0.928904
2001-01-27   -0.959577
2001-01-28    0.115164
2001-01-29    1.512506
2001-01-30   -0.027811
                ...
2001-12-02   -1.614956
2001-12-03    0.154113
2001-12-04    1.362394
2001-12-05    0.315675
2001-12-06    0.173953
2001-12-07   -0.190516
2001-12-08    2.366097
2001-12-09   -1.464259
2001-12-10    0.023289
2001-12-11    0.637895
2001-12-12    0.943686
2001-12-13    0.246386
2001-12-14   -1.027908
2001-12-15   -0.232117
2001-12-16    0.318277
2001-12-17    0.318860
2001-12-18   -0.730121
2001-12-19   -0.242785
2001-12-20    1.787685
2001-12-21    0.731592
2001-12-22   -0.219976
2001-12-23   -0.261902
2001-12-24    0.377705
2001-12-25    0.392138
2001-12-26   -0.515261
2001-12-27    0.087290
2001-12-28   -1.745557
2001-12-29   -1.190775
2001-12-30    0.133465
2001-12-31   -0.634756
Freq: D, Length: 365, dtype: float64

In [52]:
longer_ts['2001-05']

2001-05-01   -0.246048
2001-05-02   -0.226437
2001-05-03    0.361127
2001-05-04    1.997385
2001-05-05   -0.778264
2001-05-06    0.259291
2001-05-07   -1.083221
2001-05-08    0.671130
2001-05-09    0.628655
2001-05-10    0.692451
2001-05-11    0.000787
2001-05-12   -1.799542
2001-05-13   -1.237295
2001-05-14   -0.231285
2001-05-15    2.073346
2001-05-16   -0.539255
2001-05-17    0.866202
2001-05-18   -1.656568
2001-05-19    0.948827
2001-05-20    0.075769
2001-05-21    0.620819
2001-05-22    0.899337
2001-05-23   -0.141203
2001-05-24    0.854342
2001-05-25    0.994958
2001-05-26    1.134248
2001-05-27    0.407696
2001-05-28    0.790573
2001-05-29    1.391804
2001-05-30    1.427030
2001-05-31   -0.670416
Freq: D, dtype: float64

In [54]:
ts[datetime(2011,1,7):]

2011-01-07   -1.313904
2011-01-08    0.918522
2011-01-10   -0.784976
2011-01-12    1.923968
dtype: float64

In [55]:
ts

2011-01-02    1.140325
2011-01-05    1.354629
2011-01-07   -1.313904
2011-01-08    0.918522
2011-01-10   -0.784976
2011-01-12    1.923968
dtype: float64

In [56]:
ts['1/6/2011':'1/11/2011']

2011-01-07   -1.313904
2011-01-08    0.918522
2011-01-10   -0.784976
dtype: float64

In [57]:
ts.truncate(after='1/9/2011')

2011-01-02    1.140325
2011-01-05    1.354629
2011-01-07   -1.313904
2011-01-08    0.918522
dtype: float64

In [61]:
index = pd.date_range('2012-04-01', '2012-06-01')

In [62]:
index

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20',
               '2012-04-21', '2012-04-22', '2012-04-23', '2012-04-24',
               '2012-04-25', '2012-04-26', '2012-04-27', '2012-04-28',
               '2012-04-29', '2012-04-30', '2012-05-01', '2012-05-02',
               '2012-05-03', '2012-05-04', '2012-05-05', '2012-05-06',
               '2012-05-07', '2012-05-08', '2012-05-09', '2012-05-10',
               '2012-05-11', '2012-05-12', '2012-05-13', '2012-05-14',
               '2012-05-15', '2012-05-16', '2012-05-17', '2012-05-18',
               '2012-05-19', '2012-05-20', '2012-05-21', '2012-05-22',
               '2012-05-23', '2012-05-24', '2012-05-25', '2012-05-26',
               '2012-05-27', '2012-05-28', '2012-05-29', '2012-05-30',
               '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [63]:
pd.date_range(start='2012-04-01',periods=20)

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20'],
              dtype='datetime64[ns]', freq='D')

In [64]:
pd.date_range(end='2012-06-01',periods=20)

DatetimeIndex(['2012-05-13', '2012-05-14', '2012-05-15', '2012-05-16',
               '2012-05-17', '2012-05-18', '2012-05-19', '2012-05-20',
               '2012-05-21', '2012-05-22', '2012-05-23', '2012-05-24',
               '2012-05-25', '2012-05-26', '2012-05-27', '2012-05-28',
               '2012-05-29', '2012-05-30', '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [65]:
pd.date_range('2000-01-01', '2000-12-01', freq='BM')

DatetimeIndex(['2000-01-31', '2000-02-29', '2000-03-31', '2000-04-28',
               '2000-05-31', '2000-06-30', '2000-07-31', '2000-08-31',
               '2000-09-29', '2000-10-31', '2000-11-30'],
              dtype='datetime64[ns]', freq='BM')

In [66]:
pd.date_range('2012-05-02 12:56:31', periods=5)

DatetimeIndex(['2012-05-02 12:56:31', '2012-05-03 12:56:31',
               '2012-05-04 12:56:31', '2012-05-05 12:56:31',
               '2012-05-06 12:56:31'],
              dtype='datetime64[ns]', freq='D')

In [67]:
pd.date_range('2012-05-02 12:56:31', periods=5, normalize=True)

DatetimeIndex(['2012-05-02', '2012-05-03', '2012-05-04', '2012-05-05',
               '2012-05-06'],
              dtype='datetime64[ns]', freq='D')

In [68]:
from pandas.tseries.offsets import Hour, Minute

In [69]:
hour = Hour()

In [70]:
hour

In [71]:
pd.date_range('2000-01-01',periods=30,freq='1h30min')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 01:30:00',
               '2000-01-01 03:00:00', '2000-01-01 04:30:00',
               '2000-01-01 06:00:00', '2000-01-01 07:30:00',
               '2000-01-01 09:00:00', '2000-01-01 10:30:00',
               '2000-01-01 12:00:00', '2000-01-01 13:30:00',
               '2000-01-01 15:00:00', '2000-01-01 16:30:00',
               '2000-01-01 18:00:00', '2000-01-01 19:30:00',
               '2000-01-01 21:00:00', '2000-01-01 22:30:00',
               '2000-01-02 00:00:00', '2000-01-02 01:30:00',
               '2000-01-02 03:00:00', '2000-01-02 04:30:00',
               '2000-01-02 06:00:00', '2000-01-02 07:30:00',
               '2000-01-02 09:00:00', '2000-01-02 10:30:00',
               '2000-01-02 12:00:00', '2000-01-02 13:30:00',
               '2000-01-02 15:00:00', '2000-01-02 16:30:00',
               '2000-01-02 18:00:00', '2000-01-02 19:30:00'],
              dtype='datetime64[ns]', freq='90T')

In [72]:
rng = pd.date_range('2012-01-01', '2012-09-01', freq='WOM-3FRI')

In [73]:
list(rng)

[Timestamp('2012-01-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-02-17 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-03-16 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-04-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-05-18 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-06-15 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-07-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-08-17 00:00:00', freq='WOM-3FRI')]

In [75]:
ts = pd.Series(np.random.randn(4),
               index=pd.date_range('1/1/2000', periods=4, freq='M'))

In [76]:
ts

2000-01-31    1.042714
2000-02-29   -1.635188
2000-03-31    0.280004
2000-04-30    0.108718
Freq: M, dtype: float64

In [77]:
ts.shift(2)

2000-01-31         NaN
2000-02-29         NaN
2000-03-31    1.042714
2000-04-30   -1.635188
Freq: M, dtype: float64

In [78]:
ts.shift(-2)

2000-01-31    0.280004
2000-02-29    0.108718
2000-03-31         NaN
2000-04-30         NaN
Freq: M, dtype: float64

In [82]:
ts/ts.shift(1)-1

2000-01-31         NaN
2000-02-29   -2.568203
2000-03-31   -1.171237
2000-04-30   -0.611725
Freq: M, dtype: float64

In [84]:
ts.shift(1, freq='90T')

2000-01-31 01:30:00    1.042714
2000-02-29 01:30:00   -1.635188
2000-03-31 01:30:00    0.280004
2000-04-30 01:30:00    0.108718
Freq: M, dtype: float64

In [85]:
from pandas.tseries.offsets import Day, MonthEnd
now = datetime(2011, 11, 17)

In [87]:
now+3*Day()

Timestamp('2011-11-20 00:00:00')

In [88]:
now+MonthEnd()

Timestamp('2011-11-30 00:00:00')

In [89]:
now+MonthEnd(2)

Timestamp('2011-12-31 00:00:00')

In [90]:
offset = MonthEnd()

In [91]:
offset.rollforward(now)

Timestamp('2011-11-30 00:00:00')

In [92]:
offset.rollback(now)

Timestamp('2011-10-31 00:00:00')

In [93]:
ts = pd.Series(np.random.randn(20),
               index=pd.date_range('1/15/2000', periods=20, freq='4d'))

In [94]:
ts

2000-01-15   -0.550233
2000-01-19   -0.722861
2000-01-23    0.074083
2000-01-27   -0.340028
2000-01-31   -1.602306
2000-02-04    1.779687
2000-02-08    0.246028
2000-02-12    1.009286
2000-02-16    0.421159
2000-02-20   -0.375643
2000-02-24   -1.472313
2000-02-28   -0.729319
2000-03-03   -0.745454
2000-03-07   -0.828536
2000-03-11    0.772655
2000-03-15   -1.339229
2000-03-19   -0.621750
2000-03-23   -1.454512
2000-03-27   -0.358167
2000-03-31    1.328574
Freq: 4D, dtype: float64

In [95]:
ts.groupby(offset.rollforward).mean()

2000-01-31   -0.628269
2000-02-29    0.125555
2000-03-31   -0.405802
dtype: float64

In [96]:
ts.resample('M').mean()

2000-01-31   -0.628269
2000-02-29    0.125555
2000-03-31   -0.405802
Freq: M, dtype: float64

In [97]:
import pytz
pytz.common_timezones[-5:]

['US/Eastern', 'US/Hawaii', 'US/Mountain', 'US/Pacific', 'UTC']

In [98]:
tz = pytz.timezone('America/New_York')

In [99]:
tz

In [100]:
rng = pd.date_range('3/9/2012 9:30',periods=6,freq='D')

In [101]:
ts = pd.Series(np.random.randn(len(rng)),index=rng)

In [102]:
ts

2012-03-09 09:30:00   -1.344785
2012-03-10 09:30:00    1.613702
2012-03-11 09:30:00   -0.707441
2012-03-12 09:30:00    0.883450
2012-03-13 09:30:00   -0.323210
2012-03-14 09:30:00   -0.677908
Freq: D, dtype: float64

In [107]:
ts.index.tz

In [108]:
pd.date_range('3/9/2012 9:30', periods=10, freq='D', tz='UTC')

DatetimeIndex(['2012-03-09 09:30:00+00:00', '2012-03-10 09:30:00+00:00',
               '2012-03-11 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00',
               '2012-03-15 09:30:00+00:00', '2012-03-16 09:30:00+00:00',
               '2012-03-17 09:30:00+00:00', '2012-03-18 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='D')

In [109]:
ts

2012-03-09 09:30:00   -1.344785
2012-03-10 09:30:00    1.613702
2012-03-11 09:30:00   -0.707441
2012-03-12 09:30:00    0.883450
2012-03-13 09:30:00   -0.323210
2012-03-14 09:30:00   -0.677908
Freq: D, dtype: float64

In [121]:
stamp_utc = ts.tz_localize('UTC')

In [122]:
stamp_utc.tz_convert('America/New_York')

2012-03-09 04:30:00-05:00   -1.344785
2012-03-10 04:30:00-05:00    1.613702
2012-03-11 05:30:00-04:00   -0.707441
2012-03-12 05:30:00-04:00    0.883450
2012-03-13 05:30:00-04:00   -0.323210
2012-03-14 05:30:00-04:00   -0.677908
Freq: D, dtype: float64

In [123]:
stamp_moscow = pd.Timestamp('2011-03-12 04:00', tz='Europe/Moscow')

In [124]:
stamp_moscow

Timestamp('2011-03-12 04:00:00+0300', tz='Europe/Moscow')

In [128]:
from pandas.tseries.offsets import Hour
stamp = pd.Timestamp('2012-03-12 01:30', tz='US/Eastern')

In [129]:
stamp

Timestamp('2012-03-12 01:30:00-0400', tz='US/Eastern')

In [130]:
stamp + Hour()

Timestamp('2012-03-12 02:30:00-0400', tz='US/Eastern')

In [131]:
stamp = pd.Timestamp('2012-11-04 00:30', tz='US/Eastern')

In [133]:
stamp

Timestamp('2012-11-04 00:30:00-0400', tz='US/Eastern')

In [134]:
stamp + 2 * Hour()

Timestamp('2012-11-04 01:30:00-0500', tz='US/Eastern')

In [135]:
rng = pd.date_range('3/7/2012 9:30', periods=10, freq='B')

In [136]:
ts = pd.Series(np.random.randn(len(rng)), index=rng)

In [137]:
ts

2012-03-07 09:30:00   -1.316259
2012-03-08 09:30:00   -0.569450
2012-03-09 09:30:00    0.914745
2012-03-12 09:30:00    0.302638
2012-03-13 09:30:00    0.381072
2012-03-14 09:30:00   -0.658881
2012-03-15 09:30:00   -1.544488
2012-03-16 09:30:00   -0.083796
2012-03-19 09:30:00   -0.020532
2012-03-20 09:30:00    0.131670
Freq: B, dtype: float64

In [138]:
ts1 = ts[:7].tz_localize('Europe/London')

In [139]:
ts2 = ts1[2:].tz_convert('Europe/Moscow')

In [140]:
result = ts1 + ts2

In [141]:
result.index

DatetimeIndex(['2012-03-07 09:30:00+00:00', '2012-03-08 09:30:00+00:00',
               '2012-03-09 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00',
               '2012-03-15 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='B')

In [142]:
p = pd.Period(2007, freq='A-DEC')

In [143]:
p

Period('2007', 'A-DEC')

In [144]:
p+5

Period('2012', 'A-DEC')

In [145]:
p-2

Period('2005', 'A-DEC')

In [146]:
pd.Period('2014', freq='A-DEC') - p

7

In [147]:
rng = pd.period_range('2000-01-01', '2000-06-30', freq='M')

In [148]:
rng

PeriodIndex(['2000-01', '2000-02', '2000-03', '2000-04', '2000-05', '2000-06'], dtype='period[M]', freq='M')

In [149]:
pd.Series(np.random.randn(6), index=rng)

2000-01   -1.146433
2000-02   -0.162693
2000-03    0.579597
2000-04   -0.205687
2000-05    0.617070
2000-06    2.161415
Freq: M, dtype: float64

In [150]:
values = ['2001Q3', '2002Q2', '2003Q1']

In [151]:
index = pd.PeriodIndex(values, freq='Q-DEC')

In [152]:
index

PeriodIndex(['2001Q3', '2002Q2', '2003Q1'], dtype='period[Q-DEC]', freq='Q-DEC')

In [153]:
p = pd.Period('2007', freq='A-DEC')

In [155]:
p

Period('2007', 'A-DEC')

In [156]:
p.asfreq('M', how='start')

Period('2007-01', 'M')

In [157]:
p.asfreq('M', how='end')

Period('2007-12', 'M')

In [158]:
p = pd.Period('2007', freq='A-JUN')

In [159]:
p

Period('2007', 'A-JUN')

In [160]:
p.asfreq('M', 'start')

Period('2006-07', 'M')

In [161]:
p.asfreq('M', 'end')

Period('2007-06', 'M')

In [162]:
p = pd.Period('Aug-2007', 'M')

In [163]:
p.asfreq('A-JUN')

Period('2008', 'A-JUN')

In [164]:
rng = pd.period_range('2006', '2009', freq='A-DEC')

In [165]:
ts = pd.Series(np.random.randn(len(rng)), index=rng)

In [166]:
ts

2006   -0.021538
2007   -0.216883
2008   -0.766200
2009   -0.097154
Freq: A-DEC, dtype: float64

In [167]:
ts.asfreq('M', how='start')

2006-01   -0.021538
2007-01   -0.216883
2008-01   -0.766200
2009-01   -0.097154
Freq: M, dtype: float64

In [168]:
ts.asfreq('B', how='end')

2006-12-29   -0.021538
2007-12-31   -0.216883
2008-12-31   -0.766200
2009-12-31   -0.097154
Freq: B, dtype: float64

In [169]:
p = pd.Period('2012Q4', freq='Q-JAN')

In [170]:
p

Period('2012Q4', 'Q-JAN')

In [171]:
p.asfreq('D', 'start')

Period('2011-11-01', 'D')

In [172]:
p.asfreq('D', 'end')

Period('2012-01-31', 'D')

In [173]:
p4pm = (p.asfreq('B', 'e') - 1).asfreq('T', 's') + 16 * 60

In [174]:
p4pm

Period('2012-01-30 16:00', 'T')

In [175]:
p4pm.to_timestamp()

Timestamp('2012-01-30 16:00:00')

In [176]:
rng = pd.period_range('2011Q3', '2012Q4', freq='Q-JAN')

In [177]:
ts = pd.Series(np.arange(len(rng)), index=rng)

In [178]:
ts

2011Q3    0
2011Q4    1
2012Q1    2
2012Q2    3
2012Q3    4
2012Q4    5
Freq: Q-JAN, dtype: int32

In [179]:
new_rng = (rng.asfreq('B', 'e') - 1).asfreq('T', 's') + 16 * 60

In [180]:
ts.index = new_rng.to_timestamp()

In [181]:
ts

2010-10-28 16:00:00    0
2011-01-28 16:00:00    1
2011-04-28 16:00:00    2
2011-07-28 16:00:00    3
2011-10-28 16:00:00    4
2012-01-30 16:00:00    5
dtype: int32

In [182]:
rng = pd.date_range('2000-01-01', periods=3, freq='M')

In [183]:
ts = pd.Series(np.random.randn(3), index=rng)

In [184]:
ts

2000-01-31    1.615079
2000-02-29    1.220936
2000-03-31   -0.243740
Freq: M, dtype: float64

In [186]:
pts = ts.to_period()

In [187]:
pts

2000-01    1.615079
2000-02    1.220936
2000-03   -0.243740
Freq: M, dtype: float64

In [188]:
rng = pd.date_range('1/29/2000', periods=6, freq='D')

In [189]:
ts2 = pd.Series(np.random.randn(6), index=rng)

In [190]:
ts2

2000-01-29    1.577808
2000-01-30    0.235395
2000-01-31    0.625901
2000-02-01    0.661680
2000-02-02    0.504783
2000-02-03    0.051085
Freq: D, dtype: float64

In [191]:
ts2.to_period('M')

2000-01    1.577808
2000-01    0.235395
2000-01    0.625901
2000-02    0.661680
2000-02    0.504783
2000-02    0.051085
Freq: M, dtype: float64

In [192]:
pts = ts2.to_period()

In [193]:
pts

2000-01-29    1.577808
2000-01-30    0.235395
2000-01-31    0.625901
2000-02-01    0.661680
2000-02-02    0.504783
2000-02-03    0.051085
Freq: D, dtype: float64

In [194]:
pts.to_timestamp(how='end')

2000-01-29    1.577808
2000-01-30    0.235395
2000-01-31    0.625901
2000-02-01    0.661680
2000-02-02    0.504783
2000-02-03    0.051085
Freq: D, dtype: float64

In [195]:
rng = pd.date_range('2000-01-01', periods=100, freq='D')

In [196]:
ts = pd.Series(np.random.randn(len(rng)), index=rng)

In [197]:
ts

2000-01-01   -0.847306
2000-01-02   -0.103180
2000-01-03    0.135308
2000-01-04    0.870211
2000-01-05    0.713931
2000-01-06   -0.175116
2000-01-07    0.516699
2000-01-08   -1.837300
2000-01-09   -0.527923
2000-01-10    1.873056
2000-01-11   -1.351143
2000-01-12   -1.022045
2000-01-13    0.766507
2000-01-14    0.446174
2000-01-15    0.220186
2000-01-16    0.576728
2000-01-17   -0.982370
2000-01-18   -0.918186
2000-01-19    0.674334
2000-01-20    0.344364
2000-01-21   -0.827729
2000-01-22   -0.610394
2000-01-23    1.099159
2000-01-24   -0.329805
2000-01-25   -1.485933
2000-01-26   -1.206055
2000-01-27    1.418958
2000-01-28   -0.026828
2000-01-29    0.834299
2000-01-30    0.334480
                ...
2000-03-11    0.979357
2000-03-12   -1.063316
2000-03-13   -1.957130
2000-03-14   -0.024092
2000-03-15    0.896311
2000-03-16   -0.595992
2000-03-17    1.739609
2000-03-18   -0.375231
2000-03-19    0.152498
2000-03-20    0.137368
2000-03-21    0.130053
2000-03-22    0.323775
2000-03-23   -0.411852
2000-03-24   -0.812538
2000-03-25   -1.359706
2000-03-26   -0.653567
2000-03-27    0.480948
2000-03-28    1.244463
2000-03-29    0.552419
2000-03-30    1.799037
2000-03-31   -0.246519
2000-04-01   -0.706315
2000-04-02    1.249623
2000-04-03    0.153549
2000-04-04    0.276453
2000-04-05    0.884550
2000-04-06   -0.282288
2000-04-07    0.916196
2000-04-08    0.628981
2000-04-09    0.503674
Freq: D, Length: 100, dtype: float64

In [198]:
ts.resample('M').mean()

2000-01-31   -0.022328
2000-02-29    0.249155
2000-03-31    0.056614
2000-04-30    0.402714
Freq: M, dtype: float64

In [199]:
ts.resample('M', kind='period').mean()

2000-01   -0.022328
2000-02    0.249155
2000-03    0.056614
2000-04    0.402714
Freq: M, dtype: float64

In [200]:
rng = pd.date_range('2000-01-01', periods=12, freq='T')

In [201]:
ts = pd.Series(np.arange(12), index=rng)

In [202]:
ts

2000-01-01 00:00:00     0
2000-01-01 00:01:00     1
2000-01-01 00:02:00     2
2000-01-01 00:03:00     3
2000-01-01 00:04:00     4
2000-01-01 00:05:00     5
2000-01-01 00:06:00     6
2000-01-01 00:07:00     7
2000-01-01 00:08:00     8
2000-01-01 00:09:00     9
2000-01-01 00:10:00    10
2000-01-01 00:11:00    11
Freq: T, dtype: int32

In [203]:
ts.resample('5min', closed='right').sum()

1999-12-31 23:55:00     0
2000-01-01 00:00:00    15
2000-01-01 00:05:00    40
2000-01-01 00:10:00    11
Freq: 5T, dtype: int32

In [205]:
ts.resample('5min', closed='right', label='right').sum()

2000-01-01 00:00:00     0
2000-01-01 00:05:00    15
2000-01-01 00:10:00    40
2000-01-01 00:15:00    11
Freq: 5T, dtype: int32

In [206]:
ts.resample('5min', closed='right',
            label='right', loffset='-1s').sum()

1999-12-31 23:59:59     0
2000-01-01 00:04:59    15
2000-01-01 00:09:59    40
2000-01-01 00:14:59    11
Freq: 5T, dtype: int32

In [207]:
ts.resample('5min').ohlc()

                     open  high  low  close
2000-01-01 00:00:00     0     4    0      4
2000-01-01 00:05:00     5     9    5      9
2000-01-01 00:10:00    10    11   10     11

In [208]:
frame = pd.DataFrame(np.random.randn(2, 4),
                     index=pd.date_range('1/1/2000', periods=2,
                                         req='W-WED'),
                     columns=['Colorado', 'Texas', 'New York', 'Ohio'])

In [209]:
frame

            Colorado     Texas  New York      Ohio
2000-01-01  0.470706  0.177465 -0.239278 -0.489258
2000-01-02  0.911580  0.744501 -1.811038 -0.398156

NameError: name 'returns' is not defined